/* Transparents */
.bg-danger-transparent {
    background-color: rgba(234, 32, 39, 0.4);
}
.bg-grey-transparent {
  background-color: rgb(225, 225, 225);
  color: rgb(96, 96, 96);
}
.bg-red-transparent {
    background-color: rgba(234, 32, 39, .4);
}
.bg-purple-light-transparent {
  background-color: rgba(205, 192, 209, .4);
}
.bg-green-aqua-transparent {
    background-color: rgba(63, 185, 132, .4);
}
.bg-green-light-transparent {
    background-color: rgba(131, 204, 40, .4);
}
.bg-blue-darken-transparent {
  background-color: rgba(40, 44, 52, .4);
}
.bg-blue-transparent {
  background-color: rgba(45, 121, 199, .4);
}
.bg-yellow-transparent {
  background-color: rgba(243, 156, 18, .4);
}
.bg-primary-transparent {
  background-color: rgba(13, 110, 253, .4);
}
.bg-brown-transparent {
  background-color: rgba(82, 56, 56, .4);
}
.bg-ocean-transparent {
  background-color: rgba(115, 134, 213, .4);
}
.bg-purple-transparent {
  background-color: rgba(140, 82, 255, .2);
}
.bg-darken-transparent {
  background-color: rgba(0, 0, 0, .4);
}
.bg-yellow {
  background-color: rgba(243, 156, 18, 1);
}
.bg-purple {
  background-color: #8c52ff;
  color: white;
}
.bg-purple-light {
  background-color: #cdc0d1;
}
.bg-darken {
  background-color: #1b1b1b;
  color: white;
}
.bg-brown {
  background-color: #5c4c42;
}
.bg-ocean {
  background-color: #7386d5;
}
.bg-blue {
  background-color: #0079c7;
}
.bg-grey {
  background-color: rgb(192, 192, 192);
}
.bg-green-aqua {
  background-color: rgba(29, 151, 98);
}
.bg-blue-darken {
  background-color: #282c34;
}

/* Fonts */
.text-purple {
    color: #8c52ff;
}
