/* Transparents */
.bg-danger-transparent {
    background-color: rgba(234, 32, 39, 0.4);
}
.bg-yellow-transparent {
    background-color: rgba(243, 156, 18, 0.4);
}
.bg-primary-transparent {
    background-color: rgba(13, 110, 253, 0.4);
}
.bg-brown-transparent {
    background-color: rgba(82, 56, 56, 0.4);
}

.bg-brown {
    background-color: #523838;
}
.bg-yellow {
    background-color: rgba(243, 156, 18, 1);
}
.bg-purple {
    background-color: #8c52ff;
    color: white;
}
.bg-darken {
    background-color: #1b1b1b;
    color: white;
}

/* Fonts */
.text-purple {
    color: #8c52ff;
}
