@import url("bootstrap.min.css");
@import url("colors.css");

* {
    font-family: "Poppins";
}
body {
  background-color: #121212;
  color: white;
}
i {
  font-size: 20px;
}
.spacer {
  flex: 1 1 auto;
}
